In [1]:
import os
import pandas as pd
import numpy as np
import geopandas as gpd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

C:\Users\Utilizador\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\Utilizador\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (
C:\Users\Utilizador\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Paths and site names setup
waves_folder_path = "./dataset_Ondas"
shorelines_folder_path = "./dataset_linhascosta"
transects_folder_path = "./dataset_transects"
site_names = ['CVCC','CCFT','FTAD','ADLA','LABI',
              'TRAT','ATMC','MCCO','CCCL','NNOR',
              'MEIA','TORR','CVMR','MRMG','MGVR',
              'COSN','VAGR','GBHA','BARR','MIRA']

In [3]:
# Create an empty dictionary to store DataFrames
data = {}

In [4]:
# Loop through each file name
for name in site_names:
    # Construct the file paths
    waves_file_path = os.path.join(waves_folder_path, f"{name}_wave_timeseries.csv")
    shorelines_file_path = os.path.join(shorelines_folder_path, f"{name}_shoreline_timeseries.csv")
    transects_file_path = os.path.join(transects_folder_path, f"{name}_T.geojson")

    # Read the waves CSV files into DataFrame
    waves_df = pd.read_csv(waves_file_path, sep=',', header=0) # Set header=0 to use the first row as column headers
    
    waves_df['time'] = pd.to_datetime(waves_df['time'])
    waves_df.set_index('time', inplace=True)
    waves_df['years'] = waves_df.index.year
    waves_df['months'] = waves_df.index.month
    waves_df.index = pd.MultiIndex.from_tuples(
    [(year, month) for year, month in zip(waves_df.index.year, waves_df.index.month)],
    names=['years', 'months'])
    waves_df = waves_df[waves_df['years'] != 1983] # Remove 1983 because satellite data is not available for that year
    
    
    # List of directions (16 directions compass rose)
    directions = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW']
    def degrees_to_direction(wave_direction_degrees):
        if wave_direction_degrees >= 0 and   wave_direction_degrees <= 11.25:
            return 'N'
        elif wave_direction_degrees <= 33.75:
            return 'NNE'
        elif wave_direction_degrees <= 56.25:
            return 'NE'
        elif wave_direction_degrees <= 78.75:
            return 'ENE'
        elif wave_direction_degrees <= 101.25:
            return 'E'
        elif wave_direction_degrees <= 123.75:
            return 'ESE'
        elif wave_direction_degrees <= 146.25:
            return 'SE'
        elif wave_direction_degrees <= 168.75:
            return 'SSE'
        elif wave_direction_degrees <= 191.25:
            return 'S'
        elif wave_direction_degrees <= 213.75:
            return 'SSW'
        elif wave_direction_degrees <= 236.25:
            return 'SW'
        elif wave_direction_degrees <= 258.75:
            return 'WSW'
        elif wave_direction_degrees <= 281.25:
            return 'W'
        elif wave_direction_degrees <= 303.75:
            return 'WNW'
        elif wave_direction_degrees <= 326.25:
            return 'NW'
        elif wave_direction_degrees <= 348.75:
            return 'NNW'
        elif wave_direction_degrees <= 360:
            return 'N'
        else:
            return 'false'

    # One-hot encode the 'mwd' column
    waves_df['mwd'] = waves_df['mwd'].apply(degrees_to_direction)

    # Create a DataFrame of dummy variables for 'mwd'
    one_hot_encode = pd.get_dummies(waves_df['mwd'], prefix='from')

    # Concatenate the one-hot encoded columns to the original DataFrame
    waves_df = pd.concat([waves_df, one_hot_encode], axis=1)
    waves_df = waves_df.drop('mwd', axis=1)

    # Iterate through directions and create new columns for each direction's pp1d and swh
    for direction in directions:
        # Create new columns for pp1d and swh
        pp1d_column_name = f'{name}_pp1d_from_{direction}'
        swh_column_name = f'{name}_swh_from_{direction}'
    
        # Use boolean indexing to set values based on the condition
        waves_df[pp1d_column_name] = waves_df['pp1d'] * waves_df[f'from_{direction}']
        waves_df[swh_column_name] = waves_df['swh'] * waves_df[f'from_{direction}']
    
    # Drop the original 'mwd' column and the 'pp1d' and 'swh' columns
    waves_df.drop(columns=[f'from_{direction}' for direction in directions], inplace=True)
    waves_df.drop(columns=['pp1d','swh'], inplace=True)

    # Read the shorelines CSV files into DataFrame
    shorelines_df = pd.read_csv(shorelines_file_path)
    shorelines_df = shorelines_df.iloc[:, 1:]
    shorelines_df['dates'] = pd.to_datetime(shorelines_df['dates'])
    shorelines_df.set_index('dates', inplace=True)
    shorelines_df['years'] = shorelines_df.index.year
    shorelines_df['months'] = shorelines_df.index.month
    shorelines_df.index = pd.MultiIndex.from_tuples(
    [(year, month) for year, month in zip(shorelines_df.index.year, shorelines_df.index.month)],
    names=['years', 'months'])

   
    # Read the transects GeoJSON file into a GeoDataFrame
    transects_gdf = gpd.read_file(transects_file_path, driver='GeoJSON')

    # Add DataFrames to the dictionary with site name as key
    data[name] = {
        'waves': waves_df,
        'shorelines': shorelines_df,
        'transects': transects_gdf
    }

In [5]:
data['TORR']['waves']

              years  months  TORR_pp1d_from_N  TORR_swh_from_N  \
years months
1984  1        1984       1               0.0              0.0
      1        1984       1               0.0              0.0
      1        1984       1               0.0              0.0
      1        1984       1               0.0              0.0
      1        1984       1               0.0              0.0
...             ...     ...               ...              ...
2022  12       2022      12               0.0              0.0
      12       2022      12               0.0              0.0
      12       2022      12               0.0              0.0
      12       2022      12               0.0              0.0
      12       2022      12               0.0              0.0

              TORR_pp1d_from_NNE  TORR_swh_from_NNE  TORR_pp1d_from_NE  \
years months
1984  1                      0.0                0.0                0.0
      1                      0.0                0.0                0.0
      1                      0.0                0.0                0.0
      1                      0.0                0.0                0.0
      1                      0.0                0.0                0.0
...                          ...                ...                ...
2022  12                     0.0                0.0                0.0
      12                     0.0                0.0                0.0
      12                     0.0                0.0                0.0
      12                     0.0                0.0                0.0
      12                     0.0                0.0                0.0

              TORR_swh_from_NE  TORR_pp1d_from_ENE  TORR_swh_from_ENE  ...  \
years months                                                           ...
1984  1                    0.0                 0.0                0.0  ...
      1                    0.0                 0.0                0.0  ...
      1                    0.0                 0.0                0.0  ...
      1                    0.0                 0.0                0.0  ...
      1                    0.0                 0.0                0.0  ...
...                        ...                 ...                ...  ...
2022  12                   0.0                 0.0                0.0  ...
      12                   0.0                 0.0                0.0  ...
      12                   0.0                 0.0                0.0  ...
      12                   0.0                 0.0                0.0  ...
      12                   0.0                 0.0                0.0  ...

              TORR_pp1d_from_WSW  TORR_swh_from_WSW  TORR_pp1d_from_W  \
years months
1984  1                      0.0                0.0          0.000000
      1                      0.0                0.0          0.000000
      1                      0.0                0.0          0.000000
      1                      0.0                0.0          0.000000
      1                      0.0                0.0          0.000000
...                          ...                ...               ...
2022  12                     0.0                0.0         12.001409
      12                     0.0                0.0         12.283152
      12                     0.0                0.0         12.247897
      12                     0.0                0.0         12.252637
      12                     0.0                0.0         12.260044

              TORR_swh_from_W  TORR_pp1d_from_WNW  TORR_swh_from_WNW  \
years months
1984  1              0.000000           11.988966           0.749037
      1              0.000000           11.980671           0.748872
      1              0.000000           11.976523           0.748541
      1              0.000000           11.975338           0.748872
      1              0.000000           11.978004           0.749532
...                       ...                 ...                ...
2022  12             1.197393            0.000000           0.000000
      12             1.302956            0.000000           0.000000
      12             1.317989            0.000000           0.000000
      12             1.333849            0.000000           0.000000
      12             1.355490            0.000000           0.000000

              TORR_pp1d_from_NW  TORR_swh_from_NW  TORR_pp1d_from_NNW  \
years months
1984  1                     0.0               0.0                 0.0
      1                     0.0               0.0                 0.0
      1                     0.0               0.0                 0.0
      1                     0.0               0.0                 0.0
      1                     0.0               0.0                 0.0
...                         ...               ...                 ...
2022  12                    0.0               0.0                 0.0
      12                    0.0               0.0                 0.0
      12                    0.0               0.0                 0.0
      12                    0.0               0.0                 0.0
      12                    0.0               0.0                 0.0

              TORR_swh_from_NNW
years months
1984  1                     0.0
      1                     0.0
      1                     0.0
      1                     0.0
      1                     0.0
...                         ...
2022  12                    0.0
      12                    0.0
      12                    0.0
      12                    0.0
      12                    0.0

[341880 rows x 34 columns]

In [6]:
# Initialize an empty dictionary to store the results
annual_data = {}

In [7]:
# Iterate over keys in the data dictionary
for name in data.keys():
    waves_df = data[name]['waves']

    waves_df = waves_df.drop(['years', 'months'], axis=1)
    
    waves_df_annual = waves_df.groupby([waves_df.index.get_level_values('years'), waves_df.index.get_level_values('months')]).agg(
           {
        f'{name}_pp1d_from_N'  : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_N'   : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_NNE': [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_NNE' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_NE' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_NE'  : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_ENE': [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_ENE' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_E'  : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_E'   : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_ESE': [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_ESE' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_SE' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)], 
        f'{name}_swh_from_SE'  : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_SSE': [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_SSE' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_S'  : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_S'   : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_SSW': [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_SSW' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_SW' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_SW'  : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_WSW': [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_WSW' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_W'  : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_W'   : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_WNW': [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_WNW' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_NW' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_NW'  : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_pp1d_from_NNW': [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)],
        f'{name}_swh_from_NNW' : [('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)]
           })

    waves_df_annual = waves_df_annual.fillna(0)
    
    shoreline_df = data[name]['shorelines']

    # Create a MultiIndex with all possible combinations of years and months
    all_years = shoreline_df.index.get_level_values('years').unique()
    all_months = range(1, 13)
    all_combinations = [(year, month) for year in all_years for month in all_months]

    full_index = pd.MultiIndex.from_tuples(all_combinations, names=['years', 'months'])

    # Group by the MultiIndex and calculate the median
    shoreline_df_annual = shoreline_df.groupby(level=['years', 'months']).median(numeric_only=True)

    # Reindex with the full MultiIndex to fill missing combinations with NaN
    shoreline_df_annual = shoreline_df_annual.reindex(full_index)
    
    # Drop year and month columns
    shoreline_df_annual = shoreline_df_annual.drop(['years', 'months'], axis=1)

    # Iterate over each column in the DataFrame

    for i in range(1, len(shoreline_df_annual.columns) - 1):
        col = shoreline_df_annual.columns[i]
    
        # Skip columns with names "years" or "months"
        if col.lower() not in ['years', 'months']:
            prev_col = shoreline_df_annual.columns[i - 1] if i - 1 >= 0 else None
            next_col = shoreline_df_annual.columns[i + 1] if i + 1 < len(shoreline_df_annual.columns) else None

            # Check if there are any NaN values in the current column
            if shoreline_df_annual[col].isnull().any():
                # Fill NaN values with the mean of the available previous and next columns
                if prev_col is not None and next_col is not None:
                    shoreline_df_annual[col] = (shoreline_df_annual[prev_col] + shoreline_df_annual[next_col]) / 2
                elif prev_col is not None:
                    shoreline_df_annual[col] = shoreline_df_annual[prev_col]
                elif next_col is not None:
                    shoreline_df_annual[col] = shoreline_df_annual[next_col]
                else:
                    # If there are no immediate previous and next columns, extend the search to 3 columns
                    prev_cols = [shoreline_df_annual.columns[j] for j in range(i - 2, i) if j >= 0]
                    next_cols = [shoreline_df_annual.columns[j] for j in range(i + 1, i + 4) if j < len(shoreline_df_annual.columns)]

                    available_cols = prev_cols + next_cols

                    # Filter out None values (columns that are out of range)
                    available_cols = [col for col in available_cols if col is not None]

                    # Take the mean of available columns
                    if len(available_cols) > 0:
                        shoreline_df_annual[col] = shoreline_df_annual[available_cols].mean(axis=1)

    # Perform median replacement only for columns that are not "years" or "months"
    for column in shoreline_df_annual.columns:
        if column.lower() not in ['years', 'months']:
            # Check if there are any NaN values in the column
            if shoreline_df_annual[column].isnull().any():
                # Calculate the median value of the column (excluding NaN values)
                median_value = shoreline_df_annual[column].median()
        
                # Replace NaN values with the calculated median value
                shoreline_df_annual[column].fillna(median_value, inplace=True)
        
    # Exclude 'years' and 'months' columns for row-wise median calculation
    columns_to_consider = [col for col in shoreline_df_annual.columns if col.lower() not in ['years', 'months']]

    # Calculate the median for each row, excluding NaNs, across the specified columns
    row_median = shoreline_df_annual[columns_to_consider].median(axis=1)

    # Use apply along with lambda to replace NaN values in each row with the row's median
    shoreline_df_annual[columns_to_consider] = shoreline_df_annual[columns_to_consider].apply(
        lambda x: x.fillna(row_median[x.name]), axis=1)    
              
    # Ensure no NaNs are left before model training
    if shoreline_df_annual.isna().any().any():
        print(f"NaNs remain in shorelines data for {name}")
        continue  # Skip this iteration if NaNs are still present
            
                
    # Add the DataFrame to the dictionary with site name as key
    annual_data[name] = {
        'waves': waves_df_annual,
        'shorelines': shoreline_df_annual
    }

C:\Users\Utilizador\anaconda3\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Users\Utilizador\anaconda3\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Users\Utilizador\anaconda3\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Users\Utilizador\anaconda3\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Users\Utilizador\anaconda3\lib\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [8]:
annual_data['TORR']['waves']

             TORR_pp1d_from_N TORR_swh_from_N TORR_pp1d_from_NNE  \
                50th_quantile   50th_quantile      50th_quantile
years months
1984  1             12.120802        1.273137          11.761290
      2             12.657328        0.914981          12.504014
      3              8.712777        0.685021           0.000000
      4              0.000000        0.000000           0.000000
      5              0.000000        0.000000           0.000000
...                       ...             ...                ...
2022  8             14.858242        0.588461          15.371364
      9              0.000000        0.000000           0.000000
      10            10.630170        0.721861           6.151166
      11             0.000000        0.000000           0.000000
      12             0.000000        0.000000           0.000000

             TORR_swh_from_NNE TORR_pp1d_from_NE TORR_swh_from_NE  \
                 50th_quantile     50th_quantile    50th_quantile
years months
1984  1               1.037478         11.468141         0.877563
      2               1.364246         12.212346         1.245631
      3               0.000000         10.036021         0.608285
      4               0.000000          0.000000         0.000000
      5               0.000000          0.000000         0.000000
...                        ...               ...              ...
2022  8               0.563846         10.806297         0.572602
      9               0.000000          0.000000         0.000000
      10              0.540470         11.447107         0.786868
      11              0.000000          0.000000         0.000000
      12              0.000000          0.000000         0.000000

             TORR_pp1d_from_ENE TORR_swh_from_ENE TORR_pp1d_from_E  \
                  50th_quantile     50th_quantile    50th_quantile
years months
1984  1                0.000000          0.000000         0.000000
      2               11.979189          0.819908         6.446685
      3                7.439304          0.780755        10.040465
      4                0.000000          0.000000         0.000000
      5                0.000000          0.000000         0.000000
...                         ...               ...              ...
2022  8                5.841130          0.574667         5.878311
      9                0.000000          0.000000         0.000000
      10               8.953192          0.817347         6.012517
      11               0.000000          0.000000        10.835330
      12               0.000000          0.000000         0.000000

             TORR_swh_from_E  ... TORR_pp1d_from_WSW TORR_swh_from_WSW  \
               50th_quantile  ...      50th_quantile     50th_quantile
years months                  ...
1984  1             0.000000  ...           0.000000          0.000000
      2             0.995517  ...          12.236195          1.201770
      3             0.774643  ...          10.182374          0.959503
      4             0.000000  ...          10.803038          1.171291
      5             0.000000  ...           0.000000          0.000000
...                      ...  ...                ...               ...
2022  8             0.573263  ...           0.000000          0.000000
      9             0.000000  ...           9.733688          1.795338
      10            0.674035  ...          10.047279          1.471792
      11            0.991882  ...           0.000000          0.000000
      12            0.000000  ...          11.131886          2.124254

             TORR_pp1d_from_W TORR_swh_from_W TORR_pp1d_from_WNW  \
                50th_quantile   50th_quantile      50th_quantile
years months
1984  1             10.876066        1.286932          12.069252
      2             10.853402        1.036156          12.378103
      3             12.125838        1.545141          10.640984
      4             12.076363        0.816191          12.151613
      5              6.162868        1.437017           9.365141
...                       ...             ...                ...
2022  8              6.149685        0.403106           6.165387
      9             11.089077        0.831059          11.154254
      10            11.409778        1.216226          11.977116
      11            12.683547        1.425618          13.552033
      12            12.077548        1.297339          12.387139

             TORR_swh_from_WNW TORR_pp1d_from_NW TORR_swh_from_NW  \
                 50th_quantile     50th_quantile    50th_quantile
years months
1984  1               1.171291         14.878388         1.439164
      2               0.803718         13.146749         1.168565
      3               1.080265         12.892558         1.380931
      4               1.129330         10.331985         0.697907
      5               0.723431          7.542995         0.806527
...                        ...               ...              ...
2022  8               0.474307          8.903420         0.681470
      9               0.674614         10.526331         0.853196
      10              1.015589         11.177214         0.679570
      11              1.467249         12.810198         1.139324
      12              1.096455          0.000000         0.000000

             TORR_pp1d_from_NNW TORR_swh_from_NNW
                  50th_quantile     50th_quantile
years months
1984  1               13.193855          1.027401
      2               13.014914          1.181864
      3                6.053697          0.857409
      4                0.000000          0.000000
      5                0.000000          0.000000
...                         ...               ...
2022  8               14.351342          0.698485
      9                0.000000          0.000000
      10               6.372176          0.599365
      11              10.907025          0.981970
      12               0.000000          0.000000

[468 rows x 32 columns]

In [9]:
annual_data['CVCC']['shorelines']

                  CVCC_1      CVCC_2      CVCC_3      CVCC_4      CVCC_5  \
years months
1984  1       561.538441  435.299056  370.403621  342.310336  313.467875
      2       561.538441  435.299056  370.403621  342.310336  313.467875
      3       561.538441  435.299056  370.403621  342.310336  313.467875
      4       443.940701  435.299056  370.403621  342.310336  313.467875
      5       561.538441  435.299056  370.403621  342.310336  313.467875
...                  ...         ...         ...         ...         ...
2022  8       622.612417  472.860604  408.275353  369.223884  344.100295
      9       622.641539  470.311391  401.480086  366.508152  339.292681
      10      629.934427  483.057115  409.848238  371.576057  344.757205
      11      573.758962  431.308617  365.060269  327.841843  298.891870
      12      563.633185  420.329393  363.325118  330.179825  302.919525

                  CVCC_6      CVCC_7      CVCC_8      CVCC_9     CVCC_10
years months
1984  1       284.241889  233.135140  192.467087  182.631254  170.888232
      2       284.241889  233.135140  192.467087  182.631254  170.888232
      3       284.241889  233.135140  192.467087  182.631254  170.888232
      4       284.241889  233.135140  192.467087  182.631254  170.888232
      5       284.241889  233.135140  192.467087  182.631254  170.888232
...                  ...         ...         ...         ...         ...
2022  8       312.176212  257.712198  227.819054  207.949689  188.080323
      9       301.569043  254.062433  214.755789  203.450509  192.145228
      10      310.048846  259.399465  217.948198  207.578082  197.207965
      11      263.616561  216.429622  181.858568  175.312474  168.766380
      12      266.086172  220.102558  184.875494  183.170823  181.466153

[468 rows x 10 columns]

In [10]:
# Combine standardized data into a single empty DataFrame with all months and years from the previous tables
combined_shorelines = pd.DataFrame(index=pd.MultiIndex.from_product(
    [shoreline_df.index.get_level_values(0).unique(), shoreline_df.index.get_level_values(1).unique()],
    names=['years', 'months']))

In [11]:
# Merge data from all sites - SHORELINES
for name in site_names:
    df_to_merge = annual_data[name]['shorelines']

    # Reset index if 'years' and 'months' are part of the index
    if 'years' in df_to_merge.index.names and 'months' in df_to_merge.index.names:
        df_to_merge = df_to_merge.reset_index()

    combined_shorelines = combined_shorelines.merge(df_to_merge, 
                                                   on=['years', 'months'], 
                                                   how='left')

# Handling NaNs - Group by 'years' and fill NaNs with the mean of the respective year
for column in combined_shorelines.columns:
    if column not in ['site', 'years', 'months']:
        combined_shorelines[column] = combined_shorelines.groupby('years')[column].transform(lambda x: x.fillna(x.mean()))

In [12]:
combined_shorelines

,years,months,CVCC_1,CVCC_2,CVCC_3,CVCC_4,CVCC_5,CVCC_6,CVCC_7,CVCC_8,...,MIRA_1,MIRA_2,MIRA_3,MIRA_4,MIRA_5,MIRA_6,MIRA_7,MIRA_8,MIRA_9,MIRA_10
0,1984,4,443.940701,435.299056,370.403621,342.310336,313.467875,284.241889,233.135140,192.467087,...,198.161311,173.570405,172.695175,201.461505,232.808858,267.645130,276.595351,287.469568,305.708934,323.948300
1,1984,5,561.538441,435.299056,370.403621,342.310336,313.467875,284.241889,233.135140,192.467087,...,191.089354,164.453084,166.117708,180.418835,203.379683,228.528876,241.287838,261.405925,282.978823,304.551721
2,1984,7,433.189281,435.299056,370.403621,342.310336,313.467875,284.241889,233.135140,192.467087,...,200.843087,167.599076,167.875023,188.139982,217.296040,240.766467,260.292947,274.733709,296.710439,318.687169
3,1984,9,432.530541,435.299056,370.403621,342.310336,313.467875,284.241889,233.135140,192.467087,...,199.444275,162.512529,163.111394,182.506821,207.356224,237.022181,258.736350,275.832949,299.960935,324.088921
4,1984,11,561.538441,435.299056,370.403621,342.310336,313.467875,284.241889,233.135140,192.467087,...,176.075833,140.124740,152.491903,172.077468,189.670358,217.993253,243.821260,279.000397,304.048116,329.095834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2022,8,622.612417,472.860604,408.275353,369.223884,344.100295,312.176212,257.712198,227.819054,...,181.426731,163.942260,176.141751,175.534567,214.592879,192.187116,180.456517,197.753290,240.700017,283.646744
464,2022,10,629.934427,483.057115,409.848238,371.576057,344.757205,310.048846,259.399465,217.948198,...,182.054035,173.094911,184.858556,183.251096,215.230514,200.728289,184.642474,205.015159,241.807374,278.599589
465,2022,2,604.402166,450.019634,384.190488,356.713815,326.144398,292.835553,250.734632,217.533009,...,178.599102,158.347627,168.316780,181.846954,211.361801,176.501377,177.774160,204.697446,235.973819,267.250191
466,2022,3,551.268144,410.904201,352.938690,324.749027,298.962747,268.101841,225.956632,193.447671,...,152.894939,144.781408,157.566302,166.954827,193.809290,166.272469,163.871520,194.334720,234.043979,273.753238
467,2022,6,594.397304,458.356776,396.618288,361.147554,333.870163,305.626240,258.691330,221.753669,...,158.182836,145.974124,158.856298,170.770013,198.190183,172.584008,169.034039,190.664313,236.159503,281.654693

In [13]:
# making sure that the waves dataframe has the same dimensions as the shorelines

combined_waves = pd.DataFrame(index=pd.MultiIndex.from_product(
    [waves_df.index.get_level_values(0).unique(), waves_df.index.get_level_values(1).unique()],
    names=['years', 'months']))

In [14]:
combined_waves

Empty DataFrame
Columns: []
Index: [(1984, 1), (1984, 2), (1984, 3), (1984, 4), (1984, 5), (1984, 6), (1984, 7), (1984, 8), (1984, 9), (1984, 10), (1984, 11), (1984, 12), (1985, 1), (1985, 2), (1985, 3), (1985, 4), (1985, 5), (1985, 6), (1985, 7), (1985, 8), (1985, 9), (1985, 10), (1985, 11), (1985, 12), (1986, 1), (1986, 2), (1986, 3), (1986, 4), (1986, 5), (1986, 6), (1986, 7), (1986, 8), (1986, 9), (1986, 10), (1986, 11), (1986, 12), (1987, 1), (1987, 2), (1987, 3), (1987, 4), (1987, 5), (1987, 6), (1987, 7), (1987, 8), (1987, 9), (1987, 10), (1987, 11), (1987, 12), (1988, 1), (1988, 2), (1988, 3), (1988, 4), (1988, 5), (1988, 6), (1988, 7), (1988, 8), (1988, 9), (1988, 10), (1988, 11), (1988, 12), (1989, 1), (1989, 2), (1989, 3), (1989, 4), (1989, 5), (1989, 6), (1989, 7), (1989, 8), (1989, 9), (1989, 10), (1989, 11), (1989, 12), (1990, 1), (1990, 2), (1990, 3), (1990, 4), (1990, 5), (1990, 6), (1990, 7), (1990, 8), (1990, 9), (1990, 10), (1990, 11), (1990, 12), (1991, 1), (1991, 2), (1991, 3), (1991, 4), (1991, 5), (1991, 6), (1991, 7), (1991, 8), (1991, 9), (1991, 10), (1991, 11), (1991, 12), (1992, 1), (1992, 2), (1992, 3), (1992, 4), ...]

[468 rows x 0 columns]

In [19]:
annual_data['TORR']['shorelines']

                  TORR_1      TORR_2      TORR_3      TORR_4      TORR_5  \
years months
1984  1       127.341791   98.634971  106.836332  150.985477  176.497984
      2       127.341791   98.634971  106.836332  150.985477  176.497984
      3       127.341791   98.634971  106.836332  150.985477  176.497984
      4        68.202639   55.382407   71.841304  123.834352  155.941367
      5        43.444593   36.704820   59.264390  115.208849  150.196984
...                  ...         ...         ...         ...         ...
2022  8       181.887574  129.903624  128.070956  162.514694  190.972919
      9       180.021687  130.659390  130.260176  166.068671  193.586614
      10      172.687428  127.546137  129.895600  167.025072  196.582555
      11      173.316393  126.744318  123.551856  160.447975  186.194472
      12      141.829550  105.957488  109.647801  149.572122  174.514561

                  TORR_6      TORR_7      TORR_8      TORR_9     TORR_10
years months
1984  1       201.413619  295.417120  294.756663  254.197684  211.161585
      2       201.413619  295.417120  294.756663  254.197684  211.161585
      3       201.413619  295.417120  294.756663  254.197684  211.161585
      4       188.636366  288.397414  280.184307  245.293933  210.403558
      5       180.392369  280.229376  283.597999  241.406407  199.214816
...                  ...         ...         ...         ...         ...
2022  8       213.592946  310.764416  325.709899  270.375738  215.041576
      9       221.765974  315.136601  322.737802  269.222663  215.707524
      10      223.936517  307.965999  302.050923  258.970491  215.890059
      11      216.484411  304.543370  300.644537  252.348734  204.052931
      12      209.227412  297.567334  276.740327  236.301992  195.863656

[468 rows x 10 columns]

In [16]:
# Merge data from all sites - WAVES
for name in site_names:
    df_to_merge_waves = annual_data[name]['waves']

    # Reset index if 'years' and 'months' are part of the index
    if 'years' in df_to_merge_waves.index.names and 'months' in df_to_merge_waves.index.names:
        df_to_merge_waves = df_to_merge_waves.reset_index()

    combined_waves = combined_waves.merge(df_to_merge_waves, 
                                                   on=['years', 'months'], 
                                                   how='left')

# Handling NaNs - Group by 'years' and fill NaNs with the mean of the respective year
# for column in combined_waves.columns:
#     if column not in ['site', 'years', 'months']:
#         combined_waves[column] = combined_waves.groupby('years')[column].transform(lambda x: x.fillna(x.mean()))

MergeError: Not allowed to merge between different levels. (1 levels on the left, 2 on the right)

In [23]:
print(combined_waves.index.levels)
print(annual_data['TORR']['waves'].index.levels)

# sao os mesmos niveis nao sei porque nao está a dar!!!!!!

[[1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]
[[1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]