In [1]:
import os
import pandas as pd
import numpy as np
import geopandas as gpd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

In [2]:
# Paths and site names setup
waves_folder_path = "./dataset_Ondas"
shorelines_folder_path = "./dataset_linhascosta"
transects_folder_path = "./dataset_transects"
site_names = ['CVCC','CCFT','FTAD','ADLA','LABI',
              'TRAT','ATMC','MCCO','CCCL','NNOR',
              'MEIA','TORR','CVMR','MRMG','MGVR',
              'COSN','VAGR','GBHA','BARR','MIRA']

In [3]:
# Create an empty dictionary to store DataFrames
data = {}

In [5]:
# Loop through each file name
for name in site_names:
    # Construct the file paths
    waves_file_path = os.path.join(waves_folder_path, f"{name}_wave_timeseries.csv")
    shorelines_file_path = os.path.join(shorelines_folder_path, f"{name}_shoreline_timeseries.csv")
    transects_file_path = os.path.join(transects_folder_path, f"{name}_T.geojson")

    # Read the waves CSV files into DataFrame
    waves_df = pd.read_csv(waves_file_path, sep=',', header=0) # Set header=0 to use the first row as column headers
    waves_df['time'] = pd.to_datetime(waves_df['time'])
    waves_df.set_index('time', inplace=True)
    waves_df['years'] = waves_df.index.year
    waves_df['months'] = waves_df.index.month
    waves_df.index = pd.MultiIndex.from_tuples(
    [(year, month) for year, month in zip(waves_df.index.year, waves_df.index.month)],
    names=['years', 'months'])
    waves_df = waves_df[waves_df['years'] != 1983] # Remove 1983 because satellite data is not available for that year
    
    
    # List of directions (16 directions compass rose)
    directions = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW']
    def degrees_to_direction(wave_direction_degrees):
        if wave_direction_degrees >= 0 and   wave_direction_degrees <= 11.25:
            return 'N'
        elif wave_direction_degrees <= 33.75:
            return 'NNE'
        elif wave_direction_degrees <= 56.25:
            return 'NE'
        elif wave_direction_degrees <= 78.75:
            return 'ENE'
        elif wave_direction_degrees <= 101.25:
            return 'E'
        elif wave_direction_degrees <= 123.75:
            return 'ESE'
        elif wave_direction_degrees <= 146.25:
            return 'SE'
        elif wave_direction_degrees <= 168.75:
            return 'SSE'
        elif wave_direction_degrees <= 191.25:
            return 'S'
        elif wave_direction_degrees <= 213.75:
            return 'SSW'
        elif wave_direction_degrees <= 236.25:
            return 'SW'
        elif wave_direction_degrees <= 258.75:
            return 'WSW'
        elif wave_direction_degrees <= 281.25:
            return 'W'
        elif wave_direction_degrees <= 303.75:
            return 'WNW'
        elif wave_direction_degrees <= 326.25:
            return 'NW'
        elif wave_direction_degrees <= 348.75:
            return 'NNW'
        elif wave_direction_degrees <= 360:
            return 'N'
        else:
            return 'false'

    # One-hot encode the 'mwd' column
    waves_df['mwd'] = waves_df['mwd'].apply(degrees_to_direction)

    # Create a DataFrame of dummy variables for 'mwd'
    one_hot_encode = pd.get_dummies(waves_df['mwd'], prefix='from')

    # Concatenate the one-hot encoded columns to the original DataFrame
    waves_df = pd.concat([waves_df, one_hot_encode], axis=1)
    waves_df = waves_df.drop('mwd', axis=1)

    # Iterate through directions and create new columns for each direction's pp1d and swh
    for direction in directions:
        # Create new columns for pp1d and swh
        pp1d_column_name = f'pp1d_from_{direction}'
        swh_column_name = f'swh_from_{direction}'
    
        # Use boolean indexing to set values based on the condition
        waves_df[pp1d_column_name] = waves_df['pp1d'] * waves_df[f'from_{direction}']
        waves_df[swh_column_name] = waves_df['swh'] * waves_df[f'from_{direction}']
    
    # Drop the original 'mwd' column and the 'pp1d' and 'swh' columns
    waves_df.drop(columns=[f'from_{direction}' for direction in directions], inplace=True)
    waves_df.drop(columns=['pp1d','swh'], inplace=True)

    # Read the shorelines CSV files into DataFrame
    shorelines_df = pd.read_csv(shorelines_file_path)
    shorelines_df = shorelines_df.iloc[:, 1:]
    shorelines_df['dates'] = pd.to_datetime(shorelines_df['dates'])
    shorelines_df.set_index('dates', inplace=True)
    shorelines_df['years'] = shorelines_df.index.year
    shorelines_df['months'] = shorelines_df.index.month
    shorelines_df.index = pd.MultiIndex.from_tuples(
    [(year, month) for year, month in zip(shorelines_df.index.year, shorelines_df.index.month)],
    names=['years', 'months'])

   
    # Read the transects GeoJSON file into a GeoDataFrame
    transects_gdf = gpd.read_file(transects_file_path, driver='GeoJSON')

    # Add DataFrames to the dictionary with site name as key
    data[name] = {
        'waves': waves_df,
        'shorelines': shorelines_df,
        'transects': transects_gdf
    }

In [6]:
data

{'CVCC': {'waves':               years  months  pp1d_from_N  swh_from_N  pp1d_from_NNE  \
  years months
  1984  1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
  ...             ...     ...          ...         ...            ...
  2022  12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0

                swh_from_NNE  pp1d_from_NE  swh_from_NE  pp1d_from_ENE  \
  years months
  1984  1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
  ...                    ...           ...          ...            ...
  2022  12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0

                swh_from_ENE  ...  pp1d_from_WSW  swh_from_WSW  pp1d_from_W  \
  years months                ...
  1984  1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
  ...                    ...  ...            ...           ...          ...
  2022  12               0.0  ...      11.751662      2.660083     0.000000
        12               0.0  ...      11.950748      2.847587     0.000000
        12               0.0  ...       0.000000      0.000000    11.964969
        12               0.0  ...       0.000000      0.000000    11.983041
        12               0.0  ...       0.000000      0.000000    11.999335

                swh_from_W  pp1d_from_WNW  swh_from_WNW  pp1d_from_NW  \
  years months
  1984  1         0.000000            0.0           0.0     11.736553
        1         0.000000            0.0           0.0     11.767067
        1         0.000000            0.0           0.0     11.818320
        1         0.000000            0.0           0.0     14.345417
        1         0.000000            0.0           0.0     14.366451
  ...                  ...            ...           ...           ...
  2022  12        0.000000            0.0           0.0      0.000000
        12        0.000000            0.0           0.0      0.000000
        12        2.871045            0.0           0.0      0.000000
        12        2.887070            0.0           0.0      0.000000
        12        2.899790            0.0           0.0      0.000000

                swh_from_NW  pp1d_from_NNW  swh_from_NNW
  years months
  1984  1          1.484512            0.0           0.0
        1          1.499215            0.0           0.0
        1          1.513753            0.0           0.0
        1          1.527795            0.0           0.0
        1          1.540515            0.0           0.0
  ...                   ...            ...           ...
  2022  12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0

  [341880 rows x 34 columns],
  'shorelines':                   CVCC_1      CVCC_2      CVCC_3      CVCC_4      CVCC_5  \
  years months
  1984  4       443.940701         NaN         NaN         NaN         NaN
        5              NaN         NaN         NaN         NaN         NaN
        7       434.429558         NaN         NaN         NaN         NaN
        7       431.949004         NaN         NaN         NaN         NaN
        8       454.962260         NaN         NaN         NaN         NaN
  ...                  ...         ...         ...         ...         ...
  2022  11      573.758962  356.712629  287.694426  298.435254  290.049277
        11      581.300906  419.481756         NaN         NaN         NaN
        12      563.633185  354.002883  279.889142  305.916396  294.522319
        12      574.994652  357.498921  274.162061  306.725290  299.546743
        12      413.434985         NaN         NaN         NaN         NaN

                    CVCC_6      CVCC_7      CVCC_8      CVCC_9     CVCC_10  \
  years months
  1984  4              NaN         NaN         NaN         NaN         NaN
        5              NaN         NaN         NaN         NaN         NaN
        7              NaN         NaN         NaN         NaN         NaN
        7              NaN         NaN         NaN         NaN         NaN
        8              NaN         NaN         NaN         NaN         NaN
  ...                  ...         ...         ...         ...         ...
  2022  11      266.033564  230.924995  167.224809  143.726881  165.193199
        11             NaN         NaN  209.228232  162.573089  174.842148
        12      269.439377  216.889162  164.180417  152.259414  181.466153
        12      281.879073  241.616478  184.057469  147.037445         NaN
        12             NaN         NaN         NaN         NaN         NaN

                years  months
  years months
  1984  4        1984       4
        5        1984       5
        7        1984       7
        7        1984       7
        8        1984       8
  ...             ...     ...
  2022  11       2022      11
        11       2022      11
        12       2022      12
        12       2022      12
        12       2022      12

  [1213 rows x 12 columns],
  'transects':    FID  Id     name  Shape_Leng  \
  0    0   0   CVCC_1  999.613113
  1    1   0   CVCC_2  999.612998
  2    2   0   CVCC_3  999.612884
  3    3   0   CVCC_4  999.612853
  4    4   0   CVCC_5  999.612592
  5    5   0   CVCC_6  999.612570
  6    6   0   CVCC_7  998.481399
  7    7   0   CVCC_8  999.611261
  8    8   0   CVCC_9  999.611102
  9    9   0  CVCC_10  999.611074

                                              geometry
  0  LINESTRING (477941.314 4279538.014, 477120.642...
  1  LINESTRING (478217.843 4279121.677, 477397.191...
  2  LINESTRING (478494.386 4278705.350, 477673.755...
  3  LINESTRING (478770.945 4278289.033, 477950.333...
  4  LINESTRING (479010.179 4277850.204, 478189.584...
  5  LINESTRING (479249.426 4277411.382, 478428.849...
  6  LINESTRING (479488.687 4276972.567, 478697.094...
  7  LINESTRING (479727.961 4276533.760, 478965.355...
  8  LINESTRING (479967.248 4276094.960, 479204.662...
  9  LINESTRING (480243.883 4275678.695, 479481.303...  },
 'CCFT': {'waves':               years  months  pp1d_from_N  swh_from_N  pp1d_from_NNE  \
  years months
  1984  1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
  ...             ...     ...          ...         ...            ...
  2022  12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0

                swh_from_NNE  pp1d_from_NE  swh_from_NE  pp1d_from_ENE  \
  years months
  1984  1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
  ...                    ...           ...          ...            ...
  2022  12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0

                swh_from_ENE  ...  pp1d_from_WSW  swh_from_WSW  pp1d_from_W  \
  years months                ...
  1984  1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
  ...                    ...  ...            ...           ...          ...
  2022  12               0.0  ...      11.751662      2.660083     0.000000
        12               0.0  ...      11.950748      2.847587     0.000000
        12               0.0  ...       0.000000      0.000000    11.964969
        12               0.0  ...       0.000000      0.000000    11.983041
        12               0.0  ...       0.000000      0.000000    11.999335

                swh_from_W  pp1d_from_WNW  swh_from_WNW  pp1d_from_NW  \
  years months
  1984  1         0.000000            0.0           0.0     11.736553
        1         0.000000            0.0           0.0     11.767067
        1         0.000000            0.0           0.0     11.818320
        1         0.000000            0.0           0.0     14.345417
        1         0.000000            0.0           0.0     14.366451
  ...                  ...            ...           ...           ...
  2022  12        0.000000            0.0           0.0      0.000000
        12        0.000000            0.0           0.0      0.000000
        12        2.871045            0.0           0.0      0.000000
        12        2.887070            0.0           0.0      0.000000
        12        2.899790            0.0           0.0      0.000000

                swh_from_NW  pp1d_from_NNW  swh_from_NNW
  years months
  1984  1          1.484512            0.0           0.0
        1          1.499215            0.0           0.0
        1          1.513753            0.0           0.0
        1          1.527795            0.0           0.0
        1          1.540515            0.0           0.0
  ...                   ...            ...           ...
  2022  12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0

  [341880 rows x 34 columns],
  'shorelines':                   CCFT_1      CCFT_2      CCFT_3     CCFT_4     CCFT_5  \
  years months
  1984  4       131.717585  157.047471  100.058992  65.354326  56.503256
        5       129.465202  154.734336         NaN        NaN        NaN
        7       119.668047  140.186758   81.285109  48.430575  36.155372
        7       115.009565  140.487681   84.992270  49.368228  35.643790
        8       111.353530  141.966511   87.893720  49.643060  37.612934
  ...                  ...         ...         ...        ...        ...
  2022  11             NaN  157.442800   87.408285        NaN        NaN
        11             NaN         NaN         NaN        NaN        NaN
        12      136.089446  148.179310   57.405931  31.692820   6.991199
        12      139.734505  152.850217   84.838118  34.742395  11.491148
        12             NaN         NaN         NaN        NaN        NaN

                   CCFT_6     CCFT_7     CCFT_8      CCFT_9    CCFT_10  years  \
  years months
  1984  4       26.773429        NaN        NaN  117.167081  78.879555   1984
        5             NaN        NaN        NaN         NaN        NaN   1984
        7       24.228479        NaN        NaN  113.328121  67.895648   1984
        7       30.910373        NaN        NaN  119.407154  77.699004   1984
        8       30.549023        NaN        NaN  118.115768  64.493328   1984
  ...                 ...        ...        ...         ...        ...    ...
  2022  11            NaN   5.619913        NaN   94.378403  59.565591   2022
        11            NaN        NaN  47.411269  105.570633  67.595964   2022
        12     -12.821248 -22.457253  27.869996   88.559314  52.358776   2022
        12      -7.419695  -2.770608  31.340796   86.182920  53.393450   2022
        12            NaN        NaN        NaN         NaN        NaN   2022

                months
  years months
  1984  4            4
        5            5
        7            7
        7            7
        8            8
  ...              ...
  2022  11          11
        11          11
        12          12
        12          12
        12          12

  [862 rows x 12 columns],
  'transects':    OBJECTID  Id     name  Shape_Leng            yy  ORIG_FID  Shape_Le_1  \
  0         1   0   CCFT_1    0.010514  4.274939e+06         2    0.010514
  1         2   0   CCFT_2    0.010700  4.274568e+06         3    0.010700
  2         3   0   CCFT_3    0.010990  4.274152e+06         4    0.010990
  3         4   0   CCFT_4    0.010990  4.273689e+06         5    0.010990
  4         5   0   CCFT_5    0.010989  4.273227e+06         6    0.010989
  5         6   0   CCFT_6    0.010989  4.272765e+06         7    0.010989
  6         7   0   CCFT_7    0.010988  4.272303e+06         8    0.010988
  7         8   0   CCFT_8    0.010988  4.271841e+06         9    0.010988
  8         9   0   CCFT_9    0.011112  4.271434e+06        10    0.011112
  9        10   0  CCFT_10    0.011344  4.270999e+06        11    0.011344

     Shape_Length                                           geometry
  0    999.610828  LINESTRING (480520.533 4275262.439, 479757.958...
  1    993.584025  LINESTRING (480797.197 4274846.193, 479973.383...
  2    999.612746  LINESTRING (480987.355 4274383.977, 480102.262...
  3    999.612763  LINESTRING (481177.524 4273921.767, 480292.454...
  4    999.612582  LINESTRING (481367.704 4273459.561, 480482.634...
  5    999.612493  LINESTRING (481557.895 4272997.359, 480672.826...
  6    999.612447  LINESTRING (481748.098 4272535.162, 480863.028...
  7    999.612434  LINESTRING (481938.311 4272072.970, 481053.219...
  8    992.576859  LINESTRING (482128.536 4271610.783, 481201.238...
  9    999.613861  LINESTRING (482224.948 4271120.368, 481255.422...  },
 'FTAD': {'waves':               years  months  pp1d_from_N  swh_from_N  pp1d_from_NNE  \
  years months
  1984  1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
        1        1984       1          0.0         0.0            0.0
  ...             ...     ...          ...         ...            ...
  2022  12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0
        12       2022      12          0.0         0.0            0.0

                swh_from_NNE  pp1d_from_NE  swh_from_NE  pp1d_from_ENE  \
  years months
  1984  1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
        1                0.0           0.0          0.0            0.0
  ...                    ...           ...          ...            ...
  2022  12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0
        12               0.0           0.0          0.0            0.0

                swh_from_ENE  ...  pp1d_from_WSW  swh_from_WSW  pp1d_from_W  \
  years months                ...
  1984  1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
        1                0.0  ...       0.000000      0.000000     0.000000
  ...                    ...  ...            ...           ...          ...
  2022  12               0.0  ...      11.751662      2.660083     0.000000
        12               0.0  ...      11.950748      2.847587     0.000000
        12               0.0  ...       0.000000      0.000000    11.964969
        12               0.0  ...       0.000000      0.000000    11.983041
        12               0.0  ...       0.000000      0.000000    11.999335

                swh_from_W  pp1d_from_WNW  swh_from_WNW  pp1d_from_NW  \
  years months
  1984  1         0.000000            0.0           0.0     11.736553
        1         0.000000            0.0           0.0     11.767067
        1         0.000000            0.0           0.0     11.818320
        1         0.000000            0.0           0.0     14.345417
        1         0.000000            0.0           0.0     14.366451
  ...                  ...            ...           ...           ...
  2022  12        0.000000            0.0           0.0      0.000000
        12        0.000000            0.0           0.0      0.000000
        12        2.871045            0.0           0.0      0.000000
        12        2.887070            0.0           0.0      0.000000
        12        2.899790            0.0           0.0      0.000000

                swh_from_NW  pp1d_from_NNW  swh_from_NNW
  years months
  1984  1          1.484512            0.0           0.0
        1          1.499215            0.0           0.0
        1          1.513753            0.0           0.0
        1          1.527795            0.0           0.0
        1          1.540515            0.0           0.0
  ...                   ...            ...           ...
  2022  12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0
        12         0.000000            0.0           0.0

  [341880 rows x 34 columns],
  'shorelines':                  FTAD_1     FTAD_2     FTAD_3     FTAD_4     FTAD_5  \

In [7]:
# Initialize an empty dictionary to store the results
annual_data = {}

In [15]:
# Iterate over keys in the data dictionary
for name in data.keys():
    waves_df = data[name]['waves']

    #waves_df = waves_df.drop(['years', 'months'], axis=1)
    
    waves_df_annual = waves_df.groupby([waves_df.index.get_level_values('years'), waves_df.index.get_level_values('months')]).agg(
           {
        'pp1d_from_N': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_N': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_NNE': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_NNE': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_NE': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_NE': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_ENE': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_ENE': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_E': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_E': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None) 
        ],
        'pp1d_from_ESE': [ 
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None) 
        ],
        'swh_from_ESE': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None) 
        ],
        'pp1d_from_SE': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ], 
        'swh_from_SE': [ 
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_SSE': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_SSE': [ 
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_S': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_S': [ 
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_SSW': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_SSW': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_SW': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_SW': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_WSW': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_WSW': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_W': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_W': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_WNW': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_WNW': [ 
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_NW': [ 
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_NW': [ 
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'pp1d_from_NNW': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ],
        'swh_from_NNW': [
            ('50th_quantile', lambda x: x[x != 0].quantile(0.5) if any(x != 0) else None)
        ]})

    waves_df_annual = waves_df_annual.fillna(0)
    
    shoreline_df = data[name]['shorelines']

    # Create a MultiIndex with all possible combinations of years and months
    all_years = shoreline_df.index.get_level_values('years').unique()
    all_months = range(1, 13)
    all_combinations = [(year, month) for year in all_years for month in all_months]

    full_index = pd.MultiIndex.from_tuples(all_combinations, names=['years', 'months'])

    # Group by the MultiIndex and calculate the median
    shoreline_df_annual = shoreline_df.groupby(level=['years', 'months']).median(numeric_only=True)

    # Reindex with the full MultiIndex to fill missing combinations with NaN
    shoreline_df_annual = shoreline_df_annual.reindex(full_index)

    # If needed, you can drop the existing 'months' column
    #shoreline_df_annual = shoreline_df_annual.drop('months', axis=1)
    
    # Drop year and month columns
    shoreline_df_annual = shoreline_df_annual.drop(['years', 'months'], axis=1)

    # Iterate over each column in the DataFrame

    for i in range(1, len(shoreline_df_annual.columns) - 1):
        col = shoreline_df_annual.columns[i]
    
        # Skip columns with names "years" or "months"
        if col.lower() not in ['years', 'months']:
            prev_col = shoreline_df_annual.columns[i - 1] if i - 1 >= 0 else None
            next_col = shoreline_df_annual.columns[i + 1] if i + 1 < len(shoreline_df_annual.columns) else None

            # Check if there are any NaN values in the current column
            if shoreline_df_annual[col].isnull().any():
                # Fill NaN values with the mean of the available previous and next columns
                if prev_col is not None and next_col is not None:
                    shoreline_df_annual[col] = (shoreline_df_annual[prev_col] + shoreline_df_annual[next_col]) / 2
                elif prev_col is not None:
                    shoreline_df_annual[col] = shoreline_df_annual[prev_col]
                elif next_col is not None:
                    shoreline_df_annual[col] = shoreline_df_annual[next_col]
                else:
                    # If there are no immediate previous and next columns, extend the search to 3 columns
                    prev_cols = [shoreline_df_annual.columns[j] for j in range(i - 2, i) if j >= 0]
                    next_cols = [shoreline_df_annual.columns[j] for j in range(i + 1, i + 4) if j < len(shoreline_df_annual.columns)]

                    available_cols = prev_cols + next_cols

                    # Filter out None values (columns that are out of range)
                    available_cols = [col for col in available_cols if col is not None]

                    # Take the mean of available columns
                    if len(available_cols) > 0:
                        shoreline_df_annual[col] = shoreline_df_annual[available_cols].mean(axis=1)

    # Perform median replacement only for columns that are not "years" or "months"
    for column in shoreline_df_annual.columns:
        if column.lower() not in ['years', 'months']:
            # Check if there are any NaN values in the column
            if shoreline_df_annual[column].isnull().any():
                # Calculate the median value of the column (excluding NaN values)
                median_value = shoreline_df_annual[column].median()
        
                # Replace NaN values with the calculated median value
                shoreline_df_annual[column].fillna(median_value, inplace=True)
        
    # Exclude 'years' and 'months' columns for row-wise median calculation
    columns_to_consider = [col for col in shoreline_df_annual.columns if col.lower() not in ['years', 'months']]

    # Calculate the median for each row, excluding NaNs, across the specified columns
    row_median = shoreline_df_annual[columns_to_consider].median(axis=1)

    # Use apply along with lambda to replace NaN values in each row with the row's median
    shoreline_df_annual[columns_to_consider] = shoreline_df_annual[columns_to_consider].apply(
        lambda x: x.fillna(row_median[x.name]), axis=1)    
              
    # Ensure no NaNs are left before model training
    if shoreline_df_annual.isna().any().any():
        print(f"NaNs remain in shorelines data for {name}")
        continue  # Skip this iteration if NaNs are still present
            
                
    # Add the DataFrame to the dictionary with site name as key
    annual_data[name] = {
        'waves': waves_df_annual,
        'shorelines': shoreline_df_annual
    }

In [16]:
annual_data['CVCC']['shorelines']

                  CVCC_1      CVCC_2      CVCC_3      CVCC_4      CVCC_5  \
years months
1984  1       561.538441  435.299056  370.403621  342.310336  313.467875
      2       561.538441  435.299056  370.403621  342.310336  313.467875
      3       561.538441  435.299056  370.403621  342.310336  313.467875
      4       443.940701  435.299056  370.403621  342.310336  313.467875
      5       561.538441  435.299056  370.403621  342.310336  313.467875
...                  ...         ...         ...         ...         ...
2022  8       622.612417  472.860604  408.275353  369.223884  344.100295
      9       622.641539  470.311391  401.480086  366.508152  339.292681
      10      629.934427  483.057115  409.848238  371.576057  344.757205
      11      573.758962  431.308617  365.060269  327.841843  298.891870
      12      563.633185  420.329393  363.325118  330.179825  302.919525

                  CVCC_6      CVCC_7      CVCC_8      CVCC_9     CVCC_10
years months
1984  1       284.241889  233.135140  192.467087  182.631254  170.888232
      2       284.241889  233.135140  192.467087  182.631254  170.888232
      3       284.241889  233.135140  192.467087  182.631254  170.888232
      4       284.241889  233.135140  192.467087  182.631254  170.888232
      5       284.241889  233.135140  192.467087  182.631254  170.888232
...                  ...         ...         ...         ...         ...
2022  8       312.176212  257.712198  227.819054  207.949689  188.080323
      9       301.569043  254.062433  214.755789  203.450509  192.145228
      10      310.048846  259.399465  217.948198  207.578082  197.207965
      11      263.616561  216.429622  181.858568  175.312474  168.766380
      12      266.086172  220.102558  184.875494  183.170823  181.466153

[468 rows x 10 columns]